/*noinspection CssUnknownTarget*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap');

* {
    font-family: 'Inter', sans-serif;
    padding: 0;
    margin: 0;
}

body {
    background-color: beige;
}

header {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    background-color: #003049;
    position: absolute;
    top: 0;
}

nav {
    background-color: #003049;
}

nav > ul {
    list-style: none;
    display: flex;
    margin: .8em;
}

nav > ul > li > a {
    text-decoration: none;
    padding: .5em;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
}

main {
    width: 100%;
    min-height: 100%;
    margin: 5em 0;
}

.text {
    width: 100%;
    align-items: center;
    justify-content: center;
}

main > .text * {
    margin: .8em 1em;
    text-align: center;
}

.heading {
    font-weight: 800;
}

.sub-heading {
    font-weight: 700;
}

main > div {
    text-align: center;
}

.to-shop {
    border: 1px solid black;
    padding: 10px;
    border-radius: 6px;
    background-color: #F77F00;
    color: white;
    font-weight: 700;
    text-decoration: none;
}

.to-shop a {
    text-decoration: none;
}

.graphic img {
    display: none;
}

/*shop page*/

.products {
    display: flex;
    flex-wrap: wrap;
    gap: .5em;
    text-align: center;
    justify-content: space-evenly;
}

.cards {
    border: 1px solid #003049;
    padding: .2em;
    height: 20em;
}

.cards > * {
    padding: .4em;
}

.footer {
    width: 100%;
    background-color: #003049;
    position: relative;
    bottom: 0;
    text-align: center;
    color: white;
    margin-top: 7px;
}

.footer a {
    text-decoration: none;
    color: #D62828;
}

/*checkout*/

.checkout_main {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    box-shadow: #b4b472;
    border-radius: 8px;
    text-align: center;
}

.checkout_main > * {
    flex: 1;
    margin: 0;
}
.checkout_main > .checkout_form {
    border: 1px solid black;
    margin: 2em .4em;
    background-color: #b4b472;
    padding: 2em;
    border-radius: 5px;
    font-weight: bold;
}

.checkout_main .checkout_form > form > * {
    padding: 1em 0;
}

.checkout_main .checkout_form > button{
    margin: 3em 0;
}

@media screen and (min-width: 750px) {
    main {
        width: 100%;
        min-height: 1050px;
        display: flex;
        flex-wrap: wrap;
        padding: 2em;
        justify-content: center;
    }

    main > * {
        flex-basis: 100%;
    }

    main div button a {
        text-decoration: none;
        cursor: pointer;
        padding: 15px;
        font-size: 20px;
    }

    main > div > .heading {
        font-weight: 900;
        font-size: 64px;
        text-align: center;
    }

    main > div > .sub-heading {
        font-weight: 700;
        font-size: 40px;
        text-align: left;
    }

    .graphic img {
        width: fit-content;
        height: auto;
        margin-right: 10em;
    }

    footer {
        width: 100%;
        position: relative;
        bottom: 0;
    }
}

