@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap');

* {
    font-family: 'Inter', sans-serif;
    padding: 0;
    margin: 0;
}

body {
    background-image: url"../images/bg.jpg";
}

header {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    background-color: #003049;
    position: fixed top;
}
nav {
    background-color: #003049;
}

nav > ul {
    list-style: none;
    display: flex;
    margin: .8em;
}

nav > ul > li > a{
    text-decoration: none;
    padding: .5em;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
}

main {
    width: 100%;
    min-height: 520px;
    margin: 5em 0;
    margin-bottom: 10px;
    background-image: inherit;
}

.text{
    width: 100%;
    align-items: center;
    justify-content: center;
}

main > .text * {
    margin: .8em 1em;
    text-align: center;
}

.heading {
    font-weight: 800;
}

.sub-heading {
    font-weight: 700;
}
main > div{
    text-align: center;
}
.to-shop {
    border: 1px solid black;
    padding: 10px;
    border-radius: 6px;
    background-color: #F77F00;
    color: white;
    font-weight: 700;
    text-decoration: none;
}
.to-shop a {
    text-decoration: none;
}

.graphic img{
    display: none;
}

.products {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    text-align: center;
    justify-content: center;
}

.cards {
    border: 1px solid #003049;
    padding: .5em;
}

.cards > * {
    padding: .4em;
}

.footer{
    background-color: #003049;
    position: fixed bottom;
    text-align: center;
    color: white;
}

.footer a {
    text-decoration: none;
    color: #D62828;
}

/* checkout */

.row {
    flex-direction: column-reverse;
}
.col-25 {
    margin-bottom: 20px;
}



@media screen and (min-width: 750px) {
    main {
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        padding: 2em;
        justify-content: center;
        min-height: 1080px;
    }
    main > * {
        flex-basis: 100%;
    }
    main > div > .text{
        flex: 1;
    }
    main > div > img {
        flex: 3;
    }
    main div button a {
        text-decoration: none;
        cursor: pointer;
        padding: 15px;
        font-size: 20px;
    }

    main > div > .heading{
        font-weight: 900;
        font-size: 64px;
        text-align: center;
    }
    main > div > .sub-heading{
        font-weight: 700;
        font-size: 40px;
        text-align: left;
    }
    .graphic img{
        width: fit-content;
        height: auto;
        margin-right: 10em;
    }

    /* checkout */

    .row {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -16px;
      }
      
      .col-25 {
        flex: 25%;
      }
      
      .col-50 {
        flex: 50%;
      }
      
      .col-75 {
        flex: 75%;
      }
      
      .col-25,
      .col-50,
      .col-75 {
        padding: 0 16px;
      }
      
      .container {
        background-color: #f2f2f2;
        padding: 5px 20px 15px 20px;
        border: 1px solid lightgrey;
        border-radius: 3px;
      }
      
      input[type=text] {
        width: 100%;
        margin-bottom: 20px;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 3px;
      }
      
      label {
        margin-bottom: 10px;
        display: block;
      }
      
      .icon-container {
        margin-bottom: 20px;
        padding: 7px 0;
        font-size: 24px;
      }
      
      .btn {
        background-color: #04AA6D;
        color: white;
        padding: 12px;
        margin: 10px 0;
        border: none;
        width: 100%;
        border-radius: 3px;
        cursor: pointer;
        font-size: 17px;
      }
      
      .btn:hover {
        background-color: #45a049;
      }
      
      span.price {
        float: right;
        color: grey;
      }

};

/* checkout */

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -16px;
  }
  
  .col-25 {
    flex: 25%;
  }
  
  .col-50 {
    flex: 50%;
  }
  
  .col-75 {
    flex: 75%;
  }
  
  .col-25,
  .col-50,
  .col-75 {
    padding: 0 16px;
  }
  
  .container {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
  }
  
  input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  label {
    margin-bottom: 10px;
    display: block;
  }
  
  .icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
  }
  
  .btn {
    background-color: #04AA6D;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
  }
  
  .btn:hover {
    background-color: #45a049;
  }
  
  span.price {
    float: right;
    color: grey;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
  @media screen and (max-width: 750px) {
    .row {
      flex-direction: column-reverse;
    }
    .col-25 {
      margin-bottom: 20px;
    }
  }